# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Data directories
data/
data/*
data/inventory_postgres/

# Generated database files
apps/server/inventory-api/database/gen/
apps/server/shipment-api/database/gen/

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
